
:root {
  --background: #2A3D48;
  --color-font:lightblue;
  --shadow: #151e24;
}

#root, html {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);
  margin-bottom: 50px;
}

.pageLogo {
  margin: 5px;
  margin-bottom: 25px;
}

.navBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2A3D48;
  color: white;
  text-align: center;
  padding: 20px 0px;
  z-index: 1;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navButton {
  height:70px ;
  width: 70px;
  padding: 10px;
  border-radius: 15px;
  background: #2A3D48;
  box-shadow:  9px 9px 18px var(--shadow), -9px -9px 18px #3b5565;
}

.navButton:active {
  box-shadow:  inset 16px 16px 32px var(--shadow), inset -16px -16px 32px #3b5565;
}

.navBar img {
  width: 50px;
  height: 50px;
}

.navBarProfile {
  border-radius: 25px;
}

.pagesBtns {
  margin:0px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}


/* 
.button {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
*/
/* .button3D {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
} */

.button3D{
  width: 150px;
  height: 50px;
  margin:10px;
  color: lightblue;
  cursor: pointer;
  border: 1px solid rgb(20, 32, 39);
  border-radius: 4px;
  padding: 0.8em 2em;
  transition: 0.2s;
  transform: translate(-0.25rem, -0.25rem);
  background: #1b2830;
  box-shadow: 0.25rem 0.25rem 5px #151e24;
}

.button3D:active {
  transform: translate(0);
  box-shadow: none;
}

.addReviewBtn {
  border-radius: 50px;
  background: linear-gradient(145deg, #86b9d2, #9fdbf9);
  box-shadow: 10px 10px 70px #76a2b8;
  margin-bottom: 20px;
}

.gameList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.gameCard{
  background-color: #3e5f72 !important;
  color: lightblue !important;
  box-shadow: 0.25rem 0.25rem 5px #151e24;
}

.dropdown-menu {
  padding: 0px !important;
  background-color: rgb(47, 78, 95) !important;
  overflow: hidden;
  overflow-y: auto;
  max-height: 40vh;
}

#dropdown-basic-button {
  color:lightblue !important;
}

.showMore {
  border: 0px;
  background: none;
  color: wheat;


}

.gameDesc {
  color: var(--color-font);
}

.input-container {
  position: relative;
  width: 77%; 
  max-width: 400px;
  margin: 0 auto; 
  padding-top: 10px;
}

.input {
  padding: 10px;
  height: 40px;
  border: 2px solid var(--shadow);
  border-top: none;
  border-bottom: none;
  font-size: 16px;
  background: transparent;
  outline: none;
  box-shadow: 7px 7px 0px 0px var(--shadow);
  transition: all 0.5s;
  width: 100%;
  color: rgb(216, 239, 241);
}

.input:focus {
  box-shadow: none;
}

.label {
  position: absolute;
  font-size: 1.2rem;
  top: 10px;
  left: -35px;
  color: lightblue; 
  transition: all 0.5s;
  transform: scale(0); 
}

.input-container input[type="text"]:focus ~ .label {
  top: -10px;
  left:10px;
  transform: scale(1); 
}

.input-container input[type="text"]:focus ~ .topline {
  width: 35%;
}

.input-container input[type="text"]:focus ~ .underline {
  width: 100%;
}

.topline,
.underline {
  position: relative;
  content: "";
  background-color: var(--shadow);
  width: 0%;
  height: 2px;
  transition: all 0.5s;
}

.underline {
  position: relative;
  bottom: 0;
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
